.st-emotion-cache-1c7y2kd {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: rgba(240, 242, 246, 0.5);
  flex-direction: row-reverse;
  text-align: end;
}

.st-emotion-cache-s1k4sy{
  background-color: #FFFFFF;
}

.st-emotion-cache-1eo1tir {
  width: 100%;
  padding: 1rem 1rem 1rem;
  max-width: 46rem;
}

.st-emotion-cache-zt5igj{
  text-align: center;
  font-size: 26px;
}

.st-emotion-cache-10trblm{
  padding-top: 5px;
}
