.st-emotion-cache-1c7y2kd {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #2732723b;
  flex-direction: row-reverse;
  text-align: end;
}

.st-emotion-cache-s1k4sy{
  background-color: #ffffff;
}

.st-emotion-cache-1eo1tir {
  width: 100%;
  padding: 1rem 1rem 1rem;
  max-width: 46rem;
}

.st-emotion-cache-zt5igj{
  text-align: center;
  font-size: 26px;
}

.st-emotion-cache-10trblm{
  padding-top: 5px;
  color:#ffffff;
}

.st-emotion-cache-p4micv{/*Tamaño Iconos Conversación*/
  width: 2.5rem;
  height: 2.5rem;
}

.st-emotion-cache-vdokb0 p{
  font-size: 1.1rem;/*Tamaño Fuente Conversaciones*/
  color: rgb(255, 255, 255);
  padding-right: 10px;
}

.st-emotion-cache-zt5igj{
  font-size: 35px;/*Tamaño Fuente Título Chatbot*/
  padding-top: 0px;
}

.st-emotion-cache-4oy321{/*Globo conversación asesor*/
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-style: solid;
  border-width: 0.2px;
  background-color: rgb(16 8 30 / 49%);
  
}

.st-emotion-cache-1c7y2kd{/*Globo conversación usuario*/
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-style: solid;
  border-width: 0.2px;
  border-color: rgb(255, 255, 255);
  /*background-color: rgb(16 8 30 / 49%);*/
}

.st-emotion-cache-bm2z3a{/*Fondo sección general arriba*/
  background: #0070BA;
}

.st-emotion-cache-uhkwx6{/*Fondo sección de abajo*/
  background: #1E1E20;
}

.viewerBadge_container__1QSob {
  display: none;
}

.stActionButton {
  display: none;
}

.st-emotion-cache-18ni7ap{
  display: none;
}

.st-c1{
  color:#000000;
}

.st-emotion-cache-1629p8f h1{/*Título de la barra lateral*/
  text-align: center;
  color: white;
}

.st-emotion-cache-8atqhb{/*Boton de la barra lateral*/
  text-align: center;
}

.st-emotion-cache-1kyxreq{/*Alineación botón barra lateral*/
  display: ruby;
}

.st-emotion-cache-6qob1r{/*Background barra lateral*/
  background: #1E1E20;
}

.st-emotion-cache-1nm2qww {/*icono esquina cerrar barra lateral*/
  background: #ffffff;
  color: #1E1E20;
  border-radius: 20px;
}

.st-emotion-cache-10zg0a4 {/*icono esquina abrir barra lateral*/
  background: #ffffff;
  color: #0070BA;
  border-radius: 20px;
}  

.st-emotion-cache-1jmvea6 p {
  font-size: 14px;
  color:white;
}

.st-emotion-cache-1pbsqtx {/*Tamaño icono abre y cierra barra lateral*/
    width: 1rem;
    height: 1rem;
}

.st-emotion-cache-ztfqz8 {/*Cirdulo abrir barra lateral*/
  min-width: 2rem;
  min-height: 2rem;
}

.st-emotion-cache-iiif1v {/*Cirdulo cerrar barra lateral*/
  min-width: 2rem;
  min-height: 2rem;
}

.st-emotion-cache-1n76uvr {/*Espacio al inicio del chat*/
  gap: 0rem;
}

.st-emotion-cache-1eo1tir {
  padding-top: 1px;
}
